a {
    color: #97ab7f;
}
.page-content {
    min-height: 100vh;
}
.pace .pace-progress {
    background: #bdd0a6;
}
.navbar-dark {
    background-color: #628A7A;
    border-bottom-color: rgb(193, 195, 187);
}
.sidebar-dark {
    background-color: #383e3e;
    background-image: url('../global_assets/images/right.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top right;
    background-attachment: fixed;
}
.sidebar-expand-md:not(.sidebar-component):not(.sidebar-fixed) .sidebar-content {
    background-color: rgb(98 138 122 / .4);
    height: 100%;
}
.navbar-brand img {
    width: auto;
    height: unset;
    max-width: 80px;
    margin: 0 auto;
}
.navbar-brand a {
    display: block !important;
    width: max-content;
    height: 100%;
    margin: 0 auto;
    background-color: #fff;
    padding: 5px;
}
.navbar-dark .navbar-brand{
    padding: 0;
}
.content-wrapper .content{
    background-color: #ffffff;
}
body.bg-slate-800.pace-done .content-wrapper .content {
    background-color: transparent;
}
.dropdown-item:hover, .dropdown-item:focus {
    color: #fff;
    text-decoration: none;
    background-color: #628A7A;
}
.sidebar-dark .nav-sidebar > .nav-item-open > .nav-link:not(.disabled), .sidebar-dark .nav-sidebar > .nav-item > .nav-link.active, .sidebar-light .card[class*=bg-]:not(.bg-light):not(.bg-white):not(.bg-transparent) .nav-sidebar > .nav-item-open > .nav-link:not(.disabled), .sidebar-light .card[class*=bg-]:not(.bg-light):not(.bg-white):not(.bg-transparent) .nav-sidebar > .nav-item > .nav-link.active {
    background-color: #ffffff;
    color: #262323;
}
.sidebar-dark .sidebar-mobile-toggler:not([class*=bg-]) {
    background-color: #4f7767;
}
.badge-dark {
    background-color: #6a6b6d;
}
body {
    background-color: #fbfbfb;
}
.card.shadow {
    padding: 10px !important;
    border-radius: 8px;
    border: 0;
    transition: all .3s ease-in-out;
}
.card.shadow:hover , .card.shadow:focus{
    box-shadow: 0 5px 4px 3px rgb(198, 213, 213) !important;
    transform: translateY(-5px);
}
.card.shadow .card-body {
    padding: 1.25rem 0;
}
.bg-info {
    background-color: #bdd0a6 !important;
}
.bg-slate-400 {
    background-color: #628a7a;
}
.bg-primary-600 {
    background-color: #262323;
}
.bg-pink {
    background-color: #b5e650;
}
.btn-primary {
    background-color: #BDD0A6;
}
.btn-primary:hover , .btn-primary:focus{
    background-color: #6a6b6d;  
}
input:focus {
    border-color: #628a7a !important;
}
.btn-success {
    background-color: #4caf50;
    max-width: 200px;
}
.btn-success:hover , .btn-success:focus{
    background-color: #90d45a;
}
button.btn.btn-sm.btn-info.disabled.rounded-circle {
    background-color: #a8a8a8;
}
table .btn-group .btn.rounded-circle {
    padding: 0 !important;
    width: 36px;
    height: 36px;
    line-height: 36px;
    font-size: 16px;
}
.form-group.row button.btn.btn-primary {
    min-width: 140px;
}
form button {
    margin: 0 auto !important;
    max-width: 200px !important;
}
.bg-danger-300 {
    background-color: #f28066;
}
thead {
    background-color: #628a7a;
    color: #fff;
}
.dataTables_filter > label {
    display: flex;
    align-items: center;
    width: max-content;
}
.dataTables_wrapper .dataTables_filter input {
    margin-right: 0.5em;
    margin-top: 0;
    margin-left: 0;
    vertical-align: middle;
}
h3.panel-title {
    color: #628a7a;
}


::-webkit-scrollbar {
    width: 9px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: none;
    background-color: #fff;
}

::-webkit-scrollbar-thumb {
    background-color: #BDD0A6;
    outline: 1px solid #fff;
    border-radius: 30px;
}


::-moz-selection {
    background: #addedc;
    color: #fff;
}

::selection {
    background: #addedc;
    color: #fff;
}

.table{
    display: table !important;
}
table.dataTable.dtr-inline.collapsed>tbody>tr[role="row"]>td:first-child:before, table.dataTable.dtr-inline.collapsed>tbody>tr[role="row"]>th:first-child:before {
    background-color: #628a7a;
}
.dataTables_wrapper {
    margin-top: 12px;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
    color: #fff !important;
    border: 1px solid transparent;
    background-color: #f28066;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fff), color-stop(100%, #dcdcdc));
    background: -webkit-linear-gradient(top, #fff 0%, #dcdcdc 100%);
    background: -moz-linear-gradient(top, #fff 0%, #dcdcdc 100%);
    background: -ms-linear-gradient(top, #fff 0%, #dcdcdc 100%);
    background: -o-linear-gradient(top, #fff 0%, #dcdcdc 100%);
    background: #628a7a;
}
.login-form img {
    width: 140px;
}
.bg-slate-800 {
    background-image: url(../global_assets/images/map.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.login-form .btn-primary {
    color: #fff;
    background-color: #628A7A;
}
.login-form input:focus {
    border-color: #7ea032 !important;
}
.login-form  a.btn.btn-link{
    color: #ffffff !important;
}
.login-form  a.btn.btn-link:hover , .login-form  a.btn.btn-link:focus{
    color: #7ea032 !important;
}
.bg-slate-800 .card {
    box-shadow: 0 5px 5px 4px rgba(242, 128, 102, 0.3);
    border-radius: 8px;
    background-image: url(../global_assets/images/map.png);
    background-repeat: no-repeat;
    background-size: 300% 400%;
    background-position: bottom;
}
.bg-slate-800 .card h5.mb-0.mt-1{
    color: #ffffff;
}
.col.col-md-3 input[type=number].col.offset-md-1 {
    min-width: 80px;
}
.container-style[data-v-602fb0e7] {
    display: flex;
    flex-wrap: wrap;
}
/*** start custom_modal **/
.custom_card{
    background-color: #628A7A;
    padding: 4px 0 0 0;
    border-radius: 7px;
}
h3.my_titl {
    color: #fff;
    text-align: center;
    margin: 0;
}
.custom_card .card-body {
    background-color: #fff;
    border: 6x solid #0C3554;
    margin: 10px 6px 4px 6px;
    padding: 6px 10px;
    border-radius: 7px;
}
.custom_card .card-title {
    margin: 0 auto 4px auto;
}
.custom_card .card-title, .custom_card .card-text {
    margin: 0 14px 8px 0;
    font-weight: bold;
    font-size: 15px;
}
.custom_card .card-text:last-of-type{
    margin-bottom: 0;
    display:none;
}
.custom_card .card-title.sec1 {
    margin: 0 0 4px 0;
    font-weight: 400;
    font-size: 17px;
}
#barcode[data-v-640cba6a] {
    margin: 0 auto;
}
.custom_card .card-text g {
    fill: #212121 !important;
}
.container-style iframe.image-style {
    max-height: unset !important;
    height: 400px !important;
    width: 100%;
    max-width: 100% !important;
}
/*** end custom_modal **/

@media (max-width: 767.98px){
    .sidebar-dark {
        background-size: 100% 100%;
        background-position: top right;
        background-attachment: unset;
    }
    .bg-slate-800 {
        background-size: cover;
    }
    .form-group [class*=col-md-]:not([class*=col-form-label])+[class*=col-md-] {
        margin-bottom: 1.25rem;
        margin-top: unset;
    }
}
@media (max-width: 425px){
    .breadcrumb-item + .breadcrumb-item {
        padding-right: 3px;
    }
}

/********** media print ***********/
@media print {
    body {-webkit-print-color-adjust: exact !important;}
    }
@media print {
    .custom_card{
        background-color: #121619 !important;
        -webkit-print-color-adjust: exact !important; 
    }
}
@media print {
    .custom_card .card-body {
        background-color: #fff !important;
        -webkit-print-color-adjust: exact !important; 
        border: 6x solid #0C3554 !important;
        -webkit-print-color-adjust: exact !important; 
    }
}

.custom_card{
    background-color :#628A7A !important;
}
body {
  -webkit-print-color-adjust: exact !important;
}


@media print{
    .custom_card{
    background-color :#628A7A !important;
    }
body , .custom_card {
  -webkit-print-color-adjust: exact !important;
}
}