<template>
    <div class="">
        <div class="page-header page-header-light">
            <div class="breadcrumb-line breadcrumb-line-light header-elements-md-inline">
                <div class="d-flex mr-auto">
                    <div class="breadcrumb">
                        <router-link to="/home" class="breadcrumb-item">
                            <i class="icon-home2 mr-2"></i>
                            الرئيسية
                        </router-link>
                        <router-link to="/export" class="breadcrumb-item">الصادر</router-link>
                        <span class="breadcrumb-item active">تعديل الصادر </span>
                    </div>
                    <a href="#" class="header-elements-toggle text-default d-md-none">
                        <i class="icon-more"></i>
                    </a>
                </div>
            </div>
        </div>
        <!-- Content area -->
        <div class="content">
            <!-- Form horizontal -->
            <div class="panel panel-flat">
                <div class="panel-heading">
                    <h3 class="panel-title">  تعديل الصادر</h3>
                </div>
                <hr>
                <div class="panel-body">
                    <export-form></export-form>
                </div>
            </div>
            <!-- /form horizontal -->
        </div>
        <!-- /content area -->
    </div>
</template>

<script>
    import ExportForm from "./Form.vue";
    export default {
        name: "Edit",
        components:{
            'export-form':ExportForm
        },
        mounted(){
            axios.get(`/api/exports/${this.$route.params.process_id}`)
                .then(({data})=>{
                    Fire.$emit('editExport',data)
                    // console.log(data)
                })
                .catch((data)=>{
                    // console.log(data)
                    Toast.fire({
                        icon: 'error',
                        title: data.message
                    });
                });
        }
    }
</script>

<style scoped>

</style>
