<template>
    <form @submit.prevent="editMode? update() : store()" enctype='multipart/form-data'>
        <!--<div class="form-group row">-->
            <!--<label for="process_num" class="col-form-label col-12 col-lg-2">رقم المعاملة</label>-->
            <!--<div class="col-12 col-lg-4">-->
                <!--<input v-model="form.process_num" id="process_num" type="number" name="process_num"-->
                       <!--class="form-control" :class="{ 'is-invalid': form.errors.has('process_num') }" placeholder="رقم المعاملة">-->
                <!--<has-error :form="form" field="process_num"></has-error>-->
            <!--</div>-->

            <!--<label for="enterprise_name" class="col-form-label col-12 col-lg-2 text-lg-right">اسم المؤسسة</label>-->
            <!--<div class="col-12 col-lg-4">-->
                <!--<input v-model="form.enterprise_name" id="enterprise_name" type="text" name="enterprise_name"-->
                       <!--class="form-control" :class="{ 'is-invalid': form.errors.has('enterprise_name') }" placeholder="اسم المؤسسة">-->
                <!--<has-error :form="form" field="enterprise_name"></has-error>-->
            <!--</div>-->
        <!--</div>-->

        <div class="form-group row">
            <label for="category_name" class="col-form-label col-12 col-lg-2">القسم</label>
            <div class="col-12 col-lg-4">
                <input v-model="form.category_name" id="category_name" type="text" name="category_name"
                       class="form-control" :class="{ 'is-invalid': form.errors.has('category_name') }" placeholder="القسم">
                <has-error :form="form" field="category_name"></has-error>
            </div>

            <!--<label for="process_image" class="col-form-label col-12 col-lg-2 text-lg-right">الصورة</label>-->
            <!--<div class="col-12 col-lg-4">-->
                <!--<input type="file" name="process_image" @change="uploadImage" :class="{'is-invalid':form.errors.has('process_image')}" id="process_image">-->
                <!--<img v-if="form.process_image!=''" class="img-thumbnail mt-2"  id="image" :src="form.process_image" width="70px" height="70px" alt="User Avatar">-->
                <!--<has-error :form="form" field="process_image"></has-error>-->
            <!--</div>-->

            <label for="date" class="col-form-label col-12 col-lg-2 text-lg-right">التاريخ</label>
            <div class="col-12 col-lg-4 row">
                <!--<input type="date" name="date" class="form-control" v-model="form.date" :class="{'is-invalid':form.errors.has('date')}" id="date">-->
                <!--<has-error :form="form" field="date"></has-error>-->
                <span class="col-md-12  mb-2 text-center" v-if="form.date">{{form.date}}</span>
                <div class="col col-md-3">
                    <input type="number" name="year" class="col offset-md-1" v-model="form.year" :class="{'is-invalid':form.errors.has('year')}" placeholder="السنة" >
                    <has-error :form="form" field="year" class="error-display"></has-error>
                </div>

                <div class="col col-md-3">
                    <input type="number" max="12" name="month" class="col offset-md-1" v-model="form.month" :class="{'is-invalid':form.errors.has('month')}" placeholder="الشهر" >
                    <has-error :form="form" field="month" class="error-display"></has-error>
                </div>

                <div class="col col-md-3">
                    <input type="number" max="31" name="day" class="col offset-md-1" v-model="form.day" :class="{'is-invalid':form.errors.has('day')}" placeholder="اليوم" >
                    <has-error :form="form" field="day" class="error-display"></has-error>
                </div>

            </div>

        </div>

        <div class="form-group row">
            <label for="attachments_url" class="col-form-label col-12 col-lg-2">المرفقات</label>
            <div class="col-12 col-lg-4">
                <div>
                    <input type="file" name="attachments_url[]" @change="uploadMultiImages" :class="{'is-invalid':form.errors.has('attachments_url')}" id="attachments_url" multiple>
                </div>
                <!--<img v-if="form.attachments_url!=''" v-for="file in form.attachments_url" class="img-thumbnail mt-2 ml-2" :src="file|attachments_url" width="70px" height="70px">-->
                <has-error :form="form" field="attachments_url" class="error-display"></has-error>
                <div class="row mt-2">
                    <div class="col-sm-3 card-parent"  v-if="form.attachments_url!=''" v-for="file in form.attachments_url">
                        <div class="card" style="width: 90px; cursor: pointer;" @click="openInNewTab">
                            <!--<img class="img-thumbnail mt-2 ml-2" :src="file|attachments_url" width="70px" height="70px">-->
                            <iframe :src="file|attachments_url" width="70px" height="70px" class="img-thumbnail mt-2 ml-2" frameborder="0"></iframe>
                            <div class="card-body card-btn" v-if="file.id">
                                <span @click="deleteAttachment(file.id)" class="btn btn-outline-danger gallery-dl-btn" style="width: 70px;">delete</span>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <label class="col-form-label col-12 col-lg-2 text-lg-right" v-if="editMode"> البار كود</label>
            <div class="col-12 col-lg-4" v-show="editMode">
                <svg id="barcode"></svg>
            </div>

        </div>

        <input type="hidden" v-if="editMode" v-model="form.bar_code" name="bar_code">


        <div class="form-group row">
            <button v-if="!editMode" type="submit" class="btn btn-primary">حفظ</button>
            <button v-if="editMode" type="submit" class="btn btn-primary">تعديل</button>
        </div>
    </form>
</template>

<script>
    export default {
        name: "Form",
        data(){
            return{
                form:new Form({
                    process_num: '',
                    enterprise_name : '',
                    category_name: '',
                    bar_code: '',
                    process_image: '',
                    attachments_url:[],
                    date:'',
                    year:'',
                    month:'',
                    day:'',

                }),
                editMode:false,
                files:[]
            }
        },
        watch:{
            editMode:function (val) {
                if(val){
                    JsBarcode("#barcode",this.form.bar_code,{
                        lineColor: "#"+((1<<24)*Math.random()|0).toString(16),
                        displayValue: false
                    });
                }
            }
        },
        methods:{
            uploadImage(e){
                let file = e.target.files[0];
                let reader = new FileReader();
                if(file.size<=2097152000){
                    reader.onloadend = (e)=>{
                        this.form.process_image = reader.result;
                    }
                    reader.readAsDataURL(file);
                }else{
                    Toast.fire({
                        icon: 'warning',
                        title: 'file size should be equal or less than 2 G'
                    });
                }
            },
            /*uploadMultiImages(e){
                this.form.attachments_url = [];
                let files = e.target.files;
                for(let file of files){
                    let reader = new FileReader();
                    if(file.size<=2097152){
                        reader.onloadend = (e)=>{
                            this.form.attachments_url.push(reader.result);
                        }
                        reader.readAsDataURL(file);
                    }else{
                        Toast.fire({
                            icon: 'warning',
                            title: 'file size should be equal or less than 2 MB'
                        });
                    }
                }
            }*/
            uploadMultiImages(e){
                let files = e.target.files;
                for(let file of files){
                    if(file.size<=2097152000){
                        this.files.push(file);
                    }else{
                        Toast.fire({
                            icon: 'warning',
                            title: 'file size should be equal or less than 2 G'
                        });
                    }
                }
            },
            store(){
                const formData = new FormData();
                for(let attr in this.form){
                    formData.append(attr, this.form[attr])
                }
                for(let file of this.files){
                    formData.append('attachments_url[]',file,file.name);
                }
                axios.post('/api/exports',formData)
                    .then(({data})=>{
                        this.$router.push('/export');
                        Toast.fire({
                            icon: 'success',
                            title: data.message
                        });
                    })
                    .catch((data)=>{
                        console.log(data);
                    });
            },
            update(){
                const formData = new FormData();
                for(let attr in this.form){
                    formData.append(attr, this.form[attr])
                }
                for(let file of this.files){
                    formData.append('attachments_url[]',file,file.name);
                }
                formData.append('_method','put');

                axios.post(`/api/exports/${this.$route.params.process_id}`,formData)
                    .then(({data})=>{
                        this.$router.push('/export');
                        Toast.fire({
                            icon: 'success',
                            title: data.message
                        });
                    })
                    .catch((data)=>{
                        // console.log(data);
                        Toast.fire({
                            icon: 'error',
                            title: data.message
                        });
                    });
            },
            deleteAttachment(id){
                axios.delete(`/api/attachment/${id}/destroy`)
                    .then(({data})=>{
                        axios.get(`/api/exports/${this.$route.params.process_id}`)
                            .then(({data})=>{
                                Fire.$emit('editExport',data)
                                // console.log(data)
                            })
                            .catch((data)=>{
                                console.log(data)
                            });
                        Toast.fire({
                            icon: 'success',
                            title: data.message
                        });
                    })
                    .catch((data)=>{
                        console.log(data);
                    })
            },
            openInNewTab(e){
                let el = e.target.getElementsByTagName('iframe')[0];
                let req_url = el.getAttribute('src');
                window.open(req_url);
            }
        },
        mounted(){
            Fire.$on('editExport', (data)=>{
                this.form.reset();
                this.form.clear();
                this.form.fill(data.export  );
                this.editMode = true;
            });

        },
    }
</script>

<style scoped>
    .card-btn{
        padding: 8px;
    }
    .error-display{
        display: block;
    }
</style>
