<template>
    <div class="">
        <div class="page-header page-header-light">
            <div class="breadcrumb-line breadcrumb-line-light header-elements-md-inline">
                <div class="d-flex mr-auto">
                    <div class="breadcrumb">
                        <router-link to="/home" class="breadcrumb-item">
                            <i class="icon-home2 mr-2"></i>
                            الرئيسية
                        </router-link>
                        <span class="breadcrumb-item active">الصادر</span>
                    </div>
                    <a href="#" class="header-elements-toggle text-default d-md-none">
                        <i class="icon-more"></i>
                    </a>
                </div>
            </div>
        </div>
        <!-- Content area -->
        <div class="content">
            <!-- Basic initialization -->
            <div class="panel panel-flat">

                <div class="panel-body mb-2">
                    <router-link to="/export/create" class="btn btn-primary mr-3">
                        <i class="icon-add" style="margin-left: 10px;"></i>
                        اضافة صادر
                    </router-link>
                </div>

                <table class="table datatable-button-init-basic table-hover table-responsive display nowrap" style="width:100%">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>رقم المعاملة</th>
                        <th>اسم المؤسسة</th>
                        <th>القسم</th>
                        <th>باركود المعاملة</th>
                        <!--<th>صورة  المعاملة</th>-->
                        <th>تاريخ  المعاملة</th>
                        <th>عدد المرفقات</th>
                        <th class="text-center">العمليات</th>

                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="(process,index) in getImports.data" :key="process.id">
                        <td>{{++index}}</td>
                        <td>{{process.process_num}}</td>
                        <td>{{process.enterprise_name}}</td>
                        <td>{{process.category_name}}</td>
                        <td>
                            <button class="btn btn-info" @click="newModal(process)">
                                اضغط هنا
                                <i class="fa fa-barcode" aria-hidden="true"></i>
                            </button>
                        </td>
                        <!--<td>-->
                            <!--<img :src="process.process_image" class="img-thumbnail" alt="" width="70" height="70">-->
                        <!--</td>-->
                        <td>{{process.date}}</td>
                        <td>
                            {{process.attachment_count}}
                        </td>

                        <td class="text-center">
                            <div class="btn-group text-center">

                                <button class="btn btn-outline-success btn-sm ml-2 rounded-circle" @click="processModal(process)" title="طباعة المعاملة">
                                    <i class="fa fa-file-code-o" aria-hidden="true"></i>
                                </button>

                                <button class="btn btn-info btn-sm ml-2 rounded-circle" @click="galleryModal(process)" title="المرفقات">
                                    <i class="icon-image-compare" aria-hidden="true"></i>
                                </button>


                                <div class=" text-center">
                                    <router-link :to="`/export/${process.id}/edit`" class="btn btn-primary btn-sm ml-2 rounded-circle" title="تعديل">
                                        <i class="fa fa-edit"></i>
                                    </router-link>
                                </div>

                                <button @click.prevent="deleteProcess(process.id)" class="btn btn-danger btn-sm ml-2 rounded-circle" title="حذف">
                                    <i class="fa fa-trash"></i>
                                </button>

                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <!-- /basic initialization -->
            <div class="card-footer">
                <pagination :data="getImports" @pagination-change-page="getResults"></pagination>
            </div>
        </div>
        <!-- /content area -->
        <bar-code></bar-code>
        <gallery></gallery>
        <process-modal></process-modal>

    </div>
</template>

<script>
    import BarCode from "../imports/BarCodeModal.vue"
    import Gallary from "../imports/GalleryModal.vue"
    import ProcessModal from "../imports/ProcessModal.vue"

    export default {
        name: "Index",
        components:{
            'bar-code':BarCode,
            'gallery':Gallary,
            'process-modal':ProcessModal,
        },
        computed:{
            getImports(){
                return this.$store.getters.getExports;
            }
        },
        methods:{
            getResults(page = 1) {
                this.$store.dispatch("exportsPaginate",page);
            },
            newModal(process){
                $('#barCodeModal').modal('show');
                JsBarcode("#barcode", process.bar_code,{
                    lineColor: "#"+((1<<24)*Math.random()|0).toString(16),
                    displayValue: false
                });
                $('#barCodeLabel').text(` كود المعاملة رقم ${process.process_num}`)

            },
            galleryModal(process){
                $('#galleryModal').modal('show');
                Fire.$emit('galleryData',process);

            },
            processModal(process){
                $('#processModal').modal('show');
                Fire.$emit('processData',process);

            },
            deleteProcess(id){
                Swal.fire({
                    title: 'هل تريد حذف المعاملة؟',
                    text: "لن تتمكن من التراجع عن هذا!",
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'نعم',
                    cancelButtonText: 'الغاء'
                }).then((result) => {
                    if (result.value) {
                        this.deleteRequest(id)
                    }
                })
            },
            deleteRequest(id){
                axios.delete('/api/exports/'+id)
                    .then(({data}) => {
                        this.$store.dispatch("getAllExports");
                        Swal.fire(
                            'تم الحذف !',
                            data.message,
                            'success'
                        );
                    })
                    .catch((data) => {
                        // console.log(data);
                        Toast.fire({
                            icon: 'error',
                            title: data.message
                        });
                    });
            },
        },
        mounted(){
            this.$store.dispatch('getAllExports');
        }
    }
</script>

<style scoped>

</style>
