<template>
    <div class="content">
        <div class="row">

            <div class="col-12 col-md-3" v-if="statistics.users">
                <router-link to="/users">
                    <div class="card shadow shadow-md bg-info p-1">
                        <i class="icon-users4 icon-2x"></i>
                        <div class="card-body text-center m-1 font-weight-bold">
                            المستخدمين
                        </div>
                        <label class="badge badge-dark" style="font-size: 14px;">{{statistics.users}}</label>
                    </div>
                </router-link>
            </div>

            <div class="col-12 col-md-3">
                <router-link to="/import">
                    <div class="card shadow shadow-md bg-primary-600">
                        <i class="icon-image-compare icon-2x"></i>
                        <div class="card-body text-center m-1 font-weight-bold">
                            الوارد
                        </div>
                        <label class="badge badge-dark" style="font-size: 14px;">{{statistics.imports}}</label>
                    </div>
                </router-link>
            </div>

            <div class="col-12 col-md-3">
                <router-link to="/export">
                    <div class="card shadow shadow-md bg-slate-400">
                        <i class="icon-list3 icon-2x"></i>
                        <div class="card-body text-center m-1 font-weight-bold">
                            الصادر
                        </div>
                        <label class="badge badge-dark" style="font-size: 14px;">{{statistics.exports}}</label>
                    </div>
                </router-link>
            </div>

        </div>
    </div>
</template>

<script>
    export default {
        name: "Home",
        data(){
            return {
                statistics:{}
            };
        },
        mounted() {
            axios.get('/api/home')
                .then(({data})=>{
                    this.statistics = data.data;
                })
                .catch((data)=>{
                    console.log(data);
                });
        }
    }
</script>

<style scoped>

</style>
