<template>
    <div class="">
        <div class="page-header page-header-light">
            <div class="breadcrumb-line breadcrumb-line-light header-elements-md-inline">
                <div class="d-flex mr-auto">
                    <div class="breadcrumb">
                        <router-link to="/home" class="breadcrumb-item">
                            <i class="icon-home2 mr-2"></i>
                            الرئيسية
                        </router-link>
                        <router-link to="/users" class="breadcrumb-item">المستخدمين</router-link>
                        <span class="breadcrumb-item active">اضافة مستخدم </span>
                    </div>
                    <a href="#" class="header-elements-toggle text-default d-md-none">
                        <i class="icon-more"></i>
                    </a>
                </div>
            </div>
        </div>
        <!-- Content area -->
        <div class="content">
            <!-- Form horizontal -->
            <div class="panel panel-flat">
                <div class="panel-heading">
                    <h3 class="panel-title">  اضافة مستخدم</h3>
                </div>
                <hr>
                <div class="panel-body">
                    <user-form></user-form>
                </div>
            </div>
            <!-- /form horizontal -->
        </div>
        <!-- /content area -->
    </div>
</template>

<script>
    import UserForm from "./Form.vue"
    export default {
        name: "Create",
        components:{
            'user-form':UserForm
        },
    }
</script>

<style scoped>

</style>
