<template>
    <form @submit.prevent="editMode? update() : store()">
        <div class="form-group row">
            <label for="name" class="col-form-label col-12 col-lg-2">الاسم</label>
            <div class="col-12 col-lg-4">
                <input v-model="form.name" id="name" type="text" name="name"
                       class="form-control" :class="{ 'is-invalid': form.errors.has('name') }" placeholder="الاسم">
                <has-error :form="form" field="name"></has-error>
            </div>

            <label for="email" class="col-form-label col-12 col-lg-2 text-lg-right"> البريد الاليكترونى</label>
            <div class="col-12 col-lg-4">
                <input v-model="form.email" id="email" type="email" name="email"
                       class="form-control" :class="{ 'is-invalid': form.errors.has('email') }" placeholder=" البريد الاليكترونى">
                <has-error :form="form" field="email"></has-error>
            </div>
        </div>

        <div class="form-group row">
            <label for="phone" class="col-form-label col-12 col-lg-2">الهاتف</label>
            <div class="col-12 col-lg-4">
                <input v-model="form.phone" id="phone" type="number" name="phone"
                       class="form-control" :class="{ 'is-invalid': form.errors.has('phone') }" placeholder="الهاتف">
                <has-error :form="form" field="phone"></has-error>
            </div>

            <label for="password" class="col-form-label col-12 col-lg-2 text-lg-right"> كلمة المرور</label>
            <div class="col-12 col-lg-4">
                <input v-model="form.password" id="password" type="password" name="password"
                       class="form-control" :class="{ 'is-invalid': form.errors.has('password') }" placeholder="كلمة المرور ">
                <has-error :form="form" field="password"></has-error>
            </div>
        </div>

        <div class="form-group row">
            <label for="password_confirmation" class="col-form-label col-12 col-lg-2">تاكيد كلمة المرور </label>
            <div class="col-12 col-lg-4">
                <input v-model="form.password_confirmation" id="password_confirmation" type="password" name="password_confirmation"
                       class="form-control" :class="{ 'is-invalid': form.errors.has('password_confirmation') }" placeholder="تاكيد كلمة المرور">
                <has-error :form="form" field="password_confirmation"></has-error>
            </div>

            <label for="role" class="col-form-label col-12 col-lg-2 text-lg-right">اختار الصلاحية</label>
            <div class="col-12 col-lg-4">
                <v-select  v-model="form.role" :options="roles" :reduce="role => role.id" label="name" id="role"
                           :class="{ 'is-invalid': form.errors.has('role') }"  placeholder="اختار الصلاحية " />
                <has-error :form="form" field="role"></has-error>
            </div>

        </div>



        <div class="form-group row">
            <button v-if="!editMode" type="submit" class="btn btn-primary">حفظ</button>
            <button v-if="editMode" type="submit" class="btn btn-primary">تعديل</button>
        </div>

    </form>

</template>

<script>
    export default {
        name: "Form",
        data(){
            return{
                form:new Form({
                    name: '',
                    email : '',
                    phone: '',
                    password: '',
                    role: '',
                }),
                editMode:false,
                roles: [
                    {id:"user",name:"مستخدم"},
                    {id:"admin",name:"مدير"},
                ],
            }
        },
        methods:{
            update(){
                this.form.put(`/api/users/${this.$route.params.user_id}`)
                    .then(({data})=>{
                        this.$router.push('/users');
                        Toast.fire({
                            icon: 'success',
                            title: data.message
                        });
                        // console.log(data);
                    })
                    .catch((data)=>{
                        console.log(data);
                        // Toast.fire({
                        //     icon: 'error',
                        //     title: data.message
                        // });
                    });
            },
            store(){
                this.form.post('/api/users')
                    .then(({data})=>{
                        console.log(data);
                        this.$router.push('/users');
                        Toast.fire({
                            icon: 'success',
                            title: data.message
                        });
                    })
                    .catch((data)=>{
                        console.log(data);
                        // Toast.fire({
                        //     icon: 'error',
                        //     title: data.message
                        // });
                    });
            }
        },
        mounted(){
            Fire.$on('editUser', (data)=>{
                this.form.reset();
                this.form.clear();
                this.form.fill(data.user);
                this.editMode = true;
            });
        }
    }
</script>

<style scoped>

</style>
