<template>
    <div class="">
        <div class="page-header page-header-light">
            <div class="breadcrumb-line breadcrumb-line-light header-elements-md-inline">
                <div class="d-flex mr-auto">
                    <div class="breadcrumb">
                        <router-link to="/home" class="breadcrumb-item">
                            <i class="icon-home2 mr-2"></i>
                            الرئيسية
                        </router-link>
                        <span class="breadcrumb-item active">المستخدمين</span>
                    </div>
                    <a href="#" class="header-elements-toggle text-default d-md-none">
                        <i class="icon-more"></i>
                    </a>
                </div>
            </div>
        </div>
        <!-- Content area -->
        <div class="content">
            <!-- Basic initialization -->
            <div class="panel panel-flat">

                <div class="panel-body mb-2">
                    <router-link to="/users/create" class="btn btn-primary mr-3">
                        <i class="icon-add" style="margin-left: 10px;"></i>
                        اضافة مستخدم
                    </router-link>
                </div>

                <table class="table datatable-button-init-basic table-hover table-responsive display nowrap" style="width:100%">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>الاسم</th>
                        <th>البريد الاليكترونى</th>
                        <th>رقم الهاتف</th>
                        <th class="text-center">العمليات</th>

                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="(user,index) in getUsers.data" :key="user.id">
                        <td>{{++index}}</td>
                        <td>{{user.name}}</td>
                        <td>{{user.email}}</td>
                        <td>{{user.phone}}</td>


                        <td class="text-center">
                            <div class="btn-group text-center">

                                <button @click.prevent="banToggle(user.id)" v-if="!user.is_ban" class="btn btn-sm btn-warning disabled rounded-circle" title="حظر" style="cursor: pointer">
                                    <i class="fa fa-ban" aria-hidden="true"></i>
                                </button>
                                <button @click.prevent="banToggle(user.id)" v-if="user.is_ban" class="btn btn-sm btn-info disabled rounded-circle" title="تفعيل" style="cursor: pointer">
                                    <i class="fa fa-ban" aria-hidden="true" style="color: red"></i>
                                </button>

                                <div class=" text-center">
                                    <router-link :to="`/users/${user.id}/edit`" class="btn btn-primary btn-sm ml-2 rounded-circle">
                                        <i class="fa fa-edit"></i>
                                    </router-link>
                                </div>

                                <button @click.prevent="deleteUser(user.id)" class="btn btn-danger btn-sm ml-2 rounded-circle">
                                    <i class="fa fa-trash"></i>
                                </button>

                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <!-- /basic initialization -->
            <div class="card-footer">
                <pagination :data="getUsers" @pagination-change-page="getResults"></pagination>
            </div>
        </div>
        <!-- /content area -->
    </div>
</template>

<script>
    export default {
        name: "Index",
        computed:{
            getUsers(){
                return this.$store.getters.getUsers;
            }
        },
        methods:{
            getResults(page = 1) {
                this.$store.dispatch("usersPaginate",page);
            },
            deleteUser(id){
                Swal.fire({
                    title: 'هل تريد حذف المستخدم؟',
                    text: "لن تتمكن من التراجع عن هذا!",
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'نعم',
                    cancelButtonText: 'الغاء'
                }).then((result) => {
                    if (result.value) {
                        this.deleteRequest(id)
                    }
                })
            },
            deleteRequest(id){
                axios.delete('/api/users/'+id)
                    .then(({data}) => {
                        this.$store.dispatch("getAllUsers");
                        Swal.fire(
                            'تم الحذف !',
                            data.message,
                            'success'
                        );
                    })
                    .catch((data) => {
                        // console.log(data);
                        Toast.fire({
                            icon: 'error',
                            title: data.message
                        });
                    });
            },
            banToggle(id){
                axios.put(`/api/ban/users/${id}`)
                    .then(({data})=>{
                        this.$store.dispatch("getAllUsers");
                        Toast.fire({
                            icon: 'success',
                            title: data.message
                        });
                    })
                    .catch((data)=>{
                        console.log(data);
                    });
            }
        },
        mounted(){
            this.$store.dispatch('getAllUsers');
        }

    }
</script>

<style >
    .swal2-icon.swal2-warning{
        font-size: 1rem !important;
    }
    .swal2-icon .swal2-icon-content{
        font-size: 4.75rem !important;
    }
</style>
