<template>
    <div class="modal fade" id="barCodeModal" tabindex="-1" role="dialog" aria-labelledby="barCodeLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="barCodeLabel">الكود</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="center">
                    <svg id="barcode"></svg>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "BarCodeModal"
    }
</script>

<style scoped>
    .center{
        text-align: -webkit-center;
    }
</style>
