<template>
    <div class="modal fade" id="galleryModal" tabindex="-1" role="dialog" aria-labelledby="galleryModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="galleryModalLabel">المرفقات المعاملة - {{process_num}}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="center mt-2 ml-2 container-style row">
                    <div v-for="attach in gallery" class="card text-center col-md-6 col-xs-12" style="width: 18rem;">
                        <div class="card-body" style="cursor: pointer" @click="openInNewTab">
                            <div class="card-text mb-2" >
                                <!--<img :src="attach.url" class="image-style" :alt="attach.url" >-->
                                <iframe :src="attach.url|pdfTest" type="application/pdf" class="image-style" frameborder="0"></iframe>
                            </div>
                            <span @click="deleteAttachment(attach.id)"  class="btn btn-outline-danger gallery-dl-btn">delete</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "GalleryModal",
        data(){
          return{
              gallery:[],
              process_num:'',
          }
        },
        methods:{
            deleteAttachment(id){
                axios.delete(`/api/attachment/${id}/destroy`)
                    .then(({data})=>{
                        if(this.$router.currentRoute.path === "/export"){
                            this.$store.dispatch('getAllExports');
                        }
                        else if(this.$router.currentRoute.path === "/import"){
                            this.$store.dispatch('getAllImports');
                        }
                        $("#galleryModal .close").click()
                    })
                    .catch((data)=>{
                        console.log(data);
                    })
            },
            openInNewTab(e){
                let el = e.target.getElementsByTagName('iframe')[0];
                let req_url = el.getAttribute('src');
                window.open(req_url);
            }
        },
        mounted(){
            Fire.$on('galleryData', (data)=>{
                this.gallery=data.attachments_url;
                this.process_num=data.process_num;
            })
        }
    }
</script>

<style scoped>
.gallery-dl-btn{
    font-size: 16px;
    font-weight: bold;
    width: 130px;
}
.image-style{
    max-height:88px;
    max-width: 180px;
}
.container-style{
    display: flex;
}
</style>
