<template>
    <div class="modal fade" id="processModal" tabindex="-1" role="dialog" aria-labelledby="processModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="processModalLabel">المرفقات المعاملة - {{process.process_num}}</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                <div id="sheet">
                    <div class="center ml-4 mt-4">
                        <div class="card text-left custom_card" style="width: 18rem;">
                            <h3 class="my_titl">{{process.enterprise_name}}</h3>
                            <div class="card-body">
                                <h5 class="card-title sec1">
                                    <!-- <span>القسم  : </span> -->
                                    {{process.category_name}}
                                </h5>
                                <h6 class="card-title">
                                    <span>الرقم : </span>
                                    <span>{{process.process_num}}</span>
                                </h6>
                                <p class="card-text">
                                    <span>التاريخ : </span>
                                    <span>{{process.date}}</span>
                                </p>
                                <p class="card-text">
                                    <span>المرفقات : </span>
                                    <span>
                                        {{process.attachment_count}}
                                    </span>
                                </p>
                                <p class="card-text">
                                    <!--<span>الكود : </span>-->
                                    <span>
                                        <svg id="barcode"></svg>
                                    </span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <span  @click="printSheet" class="btn btn-outline-info">طباعة</span>
                </div>
            </div>
        </div>

    </div>
</template>

<script>
    export default {
        name: "ProcessModal",
        data(){
            return{
                process:{}
            }
        },
        methods:{
          printSheet(){
              // $('#sheet').printElement()
              const prtHtml = document.getElementById('sheet').innerHTML;

// Get all stylesheets HTML
              let stylesHtml = '';
              for (const node of [...document.querySelectorAll('link[rel="stylesheet"], style')]) {
                  stylesHtml += node.outerHTML;
              }

// Open the print window
              const WinPrint = window.open('', '', 'left=0,top=0,width=800,height=900,toolbar=0,scrollbars=0,status=0');

              WinPrint.document.write(`
                        <!DOCTYPE html>
                        <html>
                          <head>
                            ${stylesHtml}
                            <style>.center.ml-4.mt-4{margin-top:0px} .custom_card{
    background-color :#628A7A !important;
}
body {
  -webkit-print-color-adjust: exact !important;
}


@media print{
    .custom_card{
    background-color :#628A7A !important;
    }
body , .custom_card {
  -webkit-print-color-adjust: exact !important;
}
}</style>
                          </head>
                          <body>
                            ${prtHtml}
                          </body>
                        </html>
                    `);

              WinPrint.document.close();
              WinPrint.focus();
              WinPrint.print();
              // WinPrint.close();
          }
        },
        mounted(){
            Fire.$on('processData',(data)=>{
                this.process = data;
                JsBarcode("#barcode", data.bar_code,{
                    lineColor: "#"+((1<<24)*Math.random()|0).toString(16),
                    displayValue: false
                });
            })
        }
    }
</script>

<style scoped>
#barcode{
    max-width: 250px;
}
</style>
